.cart-{
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
   
    border-radius: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.cart- img{
    border-radius: 10px;
}
.csss-btn{
    background-color: rgb(12, 12, 12);
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;

}
.csss-btn:hover{
    background-color: rgb(253, 160, 21);
    transition: .4s;
    color: black;
    font-weight: 600;
}
.csss{
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    
}



@media screen and (max-width:575px) {
    .cart-{
        margin-right: 5px;
        width: auto;
    }
    
}